<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>981994412149-u6lbkibn07736l7g5etretlkhb23sgfj.apps.googleusercontent.com</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Чтобы загрузить фото профиля, анкеты няни и товаров в маркет.</string>
</dict>
</plist>
